body {
    background-image: url(/assets/img/achtergrond.webp);
    background-repeat: no-repeat;
}

#container {
    opacity: 1;
    width: 936px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    margin-left: 124px;
    margin-top: 146px;
}

#left {
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: rgb(0, 36, 152);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right {
    width: 128px;
    height: 335px;
    background-color: rgb(0, 36, 152);
    border: 2px solid #000;
}

#timeleft {
    color: rgb(0, 36, 152);
    font-size: 30px;
    margin-top: 1px;
    margin-left: 15px;
    font-weight: bold;
}

#soorttrein {
    color: rgb(0, 36, 152);
    font-size: 42px;
    font-weight: bold;
    margin-top: -37px;
    margin-left: 235px;
}

.witVierkantRechts {
    position: relative;
    width: 94px;
    height: 94px;
    background-color: white;
    margin-left: 15px;
    margin-top: 36px;
}

.kleinBlauwVierkantRechts {
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 36, 152);
    margin-left: 955px;
    margin-top: -95px;
}

.spoorText {
    font-size: 13px;
    color: rgb(0, 36, 152);
    margin-left: 23px;

}

.bigWhiteScreen {
    width: 480px;
    height: 245px;
    background-color: rgb(255, 255, 255);
    margin-top: -5px;
}

.spoorNummer {
    color: rgb(0, 36, 152);
    font-size: 70px;
    font-weight: bold;
}

.nslogo {
    width: 75px;
    height: 30px;
    margin-left: 400px;
    vertical-align: top;
    margin-top: -40px;
}

.eindlocatie {
    color: rgb(0, 36, 152);
    font-size: 35px;
    vertical-align: top;
    font-weight: bold;
    margin-top: -20px;
    margin-left: 10px;
}

.andereBestemingen1 {
    color: rgb(0, 36, 152);
    font-size: 25px;
    font-weight: bold;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 15px;
}

.andereBestemingen2 {
    color: rgb(0, 36, 152);
    font-size: 25px;
    vertical-align: top;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
}

.treinOnderaan {
    width: 248px;
    height: 32px;
    margin-top: 45px;
    margin-left: 115px;
}

.volgendetrein {
    width: 480px;
    height: 25px;
    background-color: rgb(2, 28, 113);
    color: white;
    font-size: 20px;
}

.klok{
  width: 210px;
  margin-left: 11px;
  padding-top: 5px;
}

.klokbase{
  
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border-color: rgb(197, 201, 218);
  border-width: 9px;
  border-style:inherit;
  width: 170px;
  height: 170px;
  margin-left: 30px;
  margin-top: 30px;
}

.klokvorm{
  width: 265px;
  margin-left: -47px;
  margin-top: -3px;
}

.klokrondje{
  background-color: #000;
  width: 5px;
  height: 4.5px;
  border-radius: 50%;
  margin-top: -95px;
  margin-left: 82px;
}

.groteWijzer{
  width: 5px;
  height: 60px;
  margin-left: 82px;
  margin-top: -62px;
  background-color: #000;
  animation: wijzers 3600s infinite linear;
  transform-origin: bottom;
}

.kleineWijzer{
  width: 5px;
  height: 40px;
  margin-left: 82px;
  margin-top: -42px;
  background-color: #000;
  animation: wijzers 216000s infinite linear;
  transform-origin: bottom;
}

.secondeWijzer{
  width: 5px;
  height: 70px;
  margin-left: 82px;
  margin-top: -68px;
  background-color: #fe9800;
  animation: wijzers 60s infinite linear;
  transform-origin: bottom;
}

@keyframes wijzers{
  from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
